<form class="entryForm" [formGroup]="entryForm" (ngSubmit)="onSubmit()">
  <h1>Edit room</h1>
  <ion-item>
    <div class="flex">
      <ion-label for="name">Name of the room</ion-label>
      <ion-input
        id="name"
        type="text"
        formControlName="name"
        required
      ></ion-input>
    </div>
  </ion-item>
  <ion-item>
    <div class="flex">
      <ion-label for="zone">Zone's number </ion-label>
      <ion-input
        id="zone"
        type="text"
        formControlName="zone"
        required
      ></ion-input>
    </div>
  </ion-item>
  <div class="buttons">
    <ion-button fill="outline" type="submit"> RETURN </ion-button>
    <ion-button type="submit" [disabled]="!entryForm.valid">
      UPDATE
    </ion-button>
  </div>
</form>
