<ion-header class="ion-no-border">
  <app-logo></app-logo>
</ion-header>

<ion-content>
  <form class="login" [formGroup]="formLogin" (ngSubmit)="loginadmin()">
    <h1>Admin login</h1>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">username</ion-label>
        <ion-input
          [(ngModel)]="login.admin"
          name="admin"
          type="admin"
          formControlName="admin"
        ></ion-input>
      </ion-item>
      <ion-label
        color="danger"
        *ngIf="formLogin.get('admin').touched && formLogin.get('admin').errors?.required"
        >Username is mandatory</ion-label
      >
      <ion-item>
        <ion-label position="floating" color="primary">password</ion-label>
        <ion-input
          [(ngModel)]="login.password"
          name="password"
          type="password"
          formControlName="password"
        >
        </ion-input>
      </ion-item>
      <ion-label
        color="danger"
        *ngIf="formLogin.get('password').touched && formLogin.get('password').errors?.required"
        >Password is mandatory</ion-label
      >
    </ion-list>
    <ion-col>
      <ion-button type="submit" expand="block" [disabled]="!formLogin.valid"
        >Login</ion-button
      >
    </ion-col>
  </form>
</ion-content>
