<ion-header>
  <div class="noBG">
    <app-admin-settings></app-admin-settings>
  </div>
</ion-header>

<ion-content>
  <ion-grid class="AdminCenterScreen">

<ion-row class="itemRow">
<ion-col>  
  <select name="rooms" id="rooms">      
    <option value="" selected disabled hidden>CHOOSE ROOMS</option>
    <option *ngFor="let room of rooms">{{room.name}}</option>      
  </select> 
</ion-col>
<ion-col>
  <select name="zones" id="zones">      
    <option value="" selected disabled hidden>ROOM ZONES</option>
    <option *ngFor="let zone of zones">{{zone.number}}</option>

    <div *ngIf="rooms != null">
      <ng-template #thenBlock>
        <!-- Display zones where zone.roomId = room.id -->
        <p>Room selected</p>
      </ng-template>
      <ng-template #elseBlock>
        <!-- Select a room fisrt -->
        <p>No room selected</p>
      </ng-template>
    </div>

  </select>
</ion-col>
</ion-row>
<ion-row class="border">
  <h1>USER DATA</h1>
</ion-row>
<ion-row>
  <ion-col>ID</ion-col>
  <ion-col>gender</ion-col>
  <ion-col>temperature</ion-col>
  <ion-col>air quality</ion-col>
  <ion-col>humidity</ion-col>
  <ion-col>zone</ion-col>
  <ion-col>date</ion-col>
</ion-row>

<!--
<ion-row>
  <ion-list *ngFor="let userinput of userinputs">
    <ion-col>
    <ion-item>{{userinput.id}}</ion-item>
  </ion-col>
    <ion-item>{{userinput.gender}}</ion-item>
  </ion-list>
</ion-row>
-->

<ion-row class="border" *ngFor="let userinput of userinputs">
  <ion-col>
    <ul>
      <li>{{userinput.id}}</li>
    </ul>
  </ion-col>
  <ion-col>
    <ul>      
      <li>{{userinput.gender}}</li>
    </ul>
  </ion-col>
  <ion-col>
    <ul>      
      <li>{{userinput.temperature}}</li>
    </ul>
  </ion-col>
  <ion-col>
    <ul>      
      <li>{{userinput.energy}}</li>
    </ul>
  </ion-col>
  <ion-col>
    <ul>      
      <li>{{userinput.humidity}}</li>
    </ul>
  </ion-col>
  <ion-col>
    <ul>      
      <li>{{userinput.zoneId}}</li>
    </ul>
  </ion-col>
  <ion-col>
    <ul>      
      <li>{{userinput.createdAt}}</li>
    </ul>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>