ion-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

ion-grid {
  text-align: center;
}

ion-content h2 {
  display: grid;
  grid-template-columns: 40px auto 40px;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: auto;
  gap: 10px;
}
