<ion-content>
  <ion-grid>
    <ion-button href="adminlogin">admin</ion-button>
    <ion-img
      style="width: 200px; height: auto; margin: auto"
      src="/assets/logo.svg"
      alt="logo"
    ></ion-img>
    <h1>Ready to get started?</h1>
    <h2>
      <ion-img style="width: 40px" src="/assets/walkin.svg"></ion-img>
      <ion-text style="font-size: 18px; font-variant: small-caps"
        >Get moving</ion-text
      >
      <ion-img style="width: 40px" src="/assets/walkin.svg"></ion-img>
    </h2>
    <p>
      <ion-text style="font-weight: bold">Location: </ion-text
      >{{assignedLocation}}
    </p>
    <ion-button type="button" href="/gender">I'm ready</ion-button>
  </ion-grid>
</ion-content>
