ion-grid {
  max-width: 600px;
  border: solid 1px grey;
  padding: 0;
  margin: 30px auto;
}

h1 {
  margin: 0;
  padding: 20px;
}

.title {
  border-bottom: solid 1px grey;
}

ion-grid div {
  padding: 20px;
}

ion-col {
  padding: 10px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

a svg {
  margin-right: 8px;
}

button {
  background: none;
}
