/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  box-sizing: border-box;
}

ion-app {
  margin: 30px;
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
}

p {
  color: var(--ion-color-primary);
  font-weight: 500;
}

.firstBoxTemp {
  border-color: #C70A0A;
}

.firstBoxTemp:hover {
  background-color: #C70A0A;
}

.secondBoxTemp {
  border-color: #FB6D0C;
}

.secondBoxTemp:hover {
  background-color: #FB6D0C;
}

.thirdBoxTemp {
  border-color: #FFDD0A;
}

.thirdBoxTemp:hover {
  background-color: #FFDD0A;
}

.fourthBoxTemp {
  border-color: #8ED5F5;
}

.fourthBoxTemp:hover {
  background-color: #8ED5F5;
}

.fifthBoxTemp {
  border-color: #4fc3f7;
}

.fifthBoxTemp:hover {
  background-color: #4FC3F7;
}

.sixthBoxTemp {
  border-color: #1C78C9;
}

.sixthBoxTemp:hover {
  background-color: #1C78C9;
}


.firstBoxEnergy {
  border-color: #29ED25;
}

.firstBoxEnergy:hover {
  background-color: #29ED25;
}

.secondBoxEnergy {
  border-color: #30D5C8;
}

.secondBoxEnergy:hover {
  background-color: #30D5C8;
}

.thirdBoxEnergy {
  border-color: #8ED5F5;
}

.thirdBoxEnergy:hover {
  background-color: #8ED5F5;
}

.fourthBoxEnergy {
  border-color: #FFDD0A;
}

.fourthBoxEnergy:hover {
  background-color: #FFDD0A;
}

.fifthBoxEnergy {
  border-color: #FB6D0C;
}

.fifthBoxEnergy:hover {
  background-color: #FB6D0C;
}

.sixthBoxEnergy {
  border-color: #C70A0A;
}

.sixthBoxEnergy:hover {
  background-color: #C70A0A;
}


.firstBoxHumid {
  border-color: #C70A0A;
}

.firstBoxHumid:hover {
  background-color: #C70A0A;
}

.secondBoxHumid {
  border-color: #FB6D0C;
}

.secondBoxHumid:hover {
  background-color: #FB6D0C;
}

.thirdBoxHumid {
  border-color: #FFDD0A;
}

.thirdBoxHumid:hover {
  background-color: #FFDD0A;
}

.fourthBoxHumid {
  border-color: #EAC998;
}

.fourthBoxHumid:hover {
  background-color: #EAC998;
}

.fifthBoxHumid {
  border-color: #BBA17A;
}

.fifthBoxHumid:hover {
  background-color: #BBA17A;
}

.sixthBoxHumid {
  border-color: #974B00;
}

.sixthBoxHumid:hover {
  background-color: #974B00;
}

ion-card p {
  text-align: center;
  font-size: 16px;
}

ion-col {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

ion-card {
  padding: 20px;
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  height: 100%;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ion-button {
  --border-radius: 0;
  margin: 0;
  --padding-bottom: 18px;
  --border-style: solid;
  --border-color: black;
  --padding-top: 18px;
  --padding-left: 20px;
  --padding-right: 20px;
  font-weight: 600;
}

.centerScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 600px) {
  .maxSize {
    max-width: 1000px;
    margin: auto;
  }
}