<ion-header class="ion-no-border">
  <ion-img
    style="width: 200px; height: auto; margin: auto"
    src="/assets/logo.svg"
    alt="logo"
  ></ion-img>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Username</ion-label>
          <ion-input [(ngModel)]="login.username" name="username" type="text" fromControleName="username_error" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="login.password" name="password" type="password" forcontrolname="password" required>
          </ion-input>
        </ion-item>
      </ion-list>
        <ion-col>
          <ion-button (click)="loginadmin()" type="submit" expand="block">
           Login
         </ion-button>
        </ion-col>
    </form>
  </div>
</ion-content>