ion-title.title-large {
    color: black;
    font-size: 40px;
  }

.melting {
    border: 2px solid #C70A0A;
  }

  .melting:hover,
ion-activated.melting,
.melting:active {
  background-color: #C70A0A;
}

.sweating {
    border: 2px solid #FB6D0C;
  }

  .sweating:hover,
ion-activated.sweating,
.sweating:active {
  background-color: #FB6D0C;
}
  
.warm {
    border: 2px solid #29ED25;
}

.warm:hover,
ion-activated.warm,
.warm:active {
  background-color: #29ED25;
}

.chilly {
    border: 2px solid #FFDD0A;
}

.chilly:hover,
ion-activated.chilly,
.chilly:active {
  background-color: #FFDD0A;
}

.cold {
    border: 2px solid #4FC3F7;
}

.cold:hover,
ion-activated.cold,
.cold:active {
  background-color: #4FC3F7;
}

.freezing {
    border: 2px solid #1C78C9;
}

.freezing:hover,
ion-activated.freezing,
.freezing:active {
  background-color: #1C78C9;
}