<ion-header>
  <ion-toolbar>
    <ion-title size="large">Temperature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding"> 
    <h1>What describes you best?</h1>
    <p>
      Answer according to your current body temperature.
    </p>

    <ion-row>
      <ion-col class="ion-no-padding">        
        <ion-card 
        button="true" class="melting" >
          <ion-img src="\assets\Temperature_icons\melting.svg" style="height: 50px"></ion-img>
          <div class="ion-text-center">
            <p>I'm melting</p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">        
        <ion-card button="true" class="sweating">
          <ion-img src="\assets\Temperature_icons\sweating.svg" style="height: 50px"></ion-img>
          <div class="ion-text-center">
            <p>I'm sweating</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">        
        <ion-card button="true" class="warm">
          <ion-img src="\assets\Temperature_icons\warm.svg" style="height: 50px"></ion-img>
          <div class="ion-text-center">
            <p>I'm warm</p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">        
        <ion-card button="true" class="chilly">
          <ion-img src="\assets\Temperature_icons\chilly.svg" style="height: 50px"></ion-img>
          <div class="ion-text-center">
            <p>I'm chilly</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">        
        <ion-card button="true" class="cold">
          <ion-img src="\assets\Temperature_icons\cold.svg" style="height: 50px"></ion-img>
          <div class="ion-text-center">
            <p>I'm cold</p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">        
        <ion-card button="true" class="freezing">
          <ion-img src="\assets\Temperature_icons\freezing.svg" style="height: 50px"></ion-img>
          <div class="ion-text-center">
            <p>I'm freezing</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">  
        <ion-button color="secondary" href="/gender">
          <ion-img src="/assets/energy_return.svg" style="height: 30px"></ion-img>
          <span>Return</span>
        </ion-button>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-button href="/energy">
          <span>Continue</span>
          <ion-img src="/assets/energy_continue.svg" style="height: 30px"></ion-img>
        </ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
