.genders input,
.temperature input,
.humidity input,
.energy input {
  display: none;
}

.male {
  border-color: #01c5aa;
}

.maxSize input:checked + label .male {
  background-color: #01c5aa;
}

.female {
  border-color: #8701f8;
}

.maxSize input:checked + label .female {
  background-color: #8701f8;
}

.maxSize
  input:checked
  + label
  p:not(.male p, .non-binary p, .temperature .thirdBox p, .temperature
    .fourthBox
    p, .temperature .fifthBox p, .energy .firstBox p, .energy
    .secondBox
    p, .energy .thirdBox p, .energy .fourthBox p, .humidity
    .thirdBox
    p, .humidity .fourthBox p, .humidity .fifthBox p) {
  color: var(--ion-color-primary-contrast);
}

.maxSize
  input:checked
  + label
  svg
  path:not(.male svg path, .non-binary svg path, .temperature
    .thirdBox
    svg
    path, .temperature .fourthBox svg path, .temperature
    .fifthBox
    svg
    path, .energy .firstBox svg path, .energy .secondBox svg path, .energy
    .thirdBox
    svg
    path, .energy .fourthBox svg path, .humidity .thirdBox svg path, .humidity
    .fourthBox
    svg
    path, .humidity .fifthBox svg path) {
  fill: #fff;
}

.maxSize label:hover {
  cursor: pointer;
}

.non-binary,
.temperature .thirdBox,
.energy .fourthBox,
.humidity .thirdBox {
  border-color: #ffdd0a;
}

.maxSize input:checked + label .non-binary,
.maxSize .temperature input:checked + label .thirdBox,
.maxSize .energy input:checked + label .fourthBox,
.maxSize .humidity input:checked + label .thirdBox {
  background-color: #ffdd0a;
}

.temperature .firstBox,
.energy .sixthBox,
.humidity .firstBox {
  border-color: #c70a0a;
}

.maxSize .temperature input:checked + label .firstBox,
.maxSize .energy input:checked + label .sixthBox,
.maxSize .humidity input:checked + label .firstBox {
  background-color: #c70a0a;
}

.temperature .secondBox,
.energy .fifthBox,
.humidity .secondBox {
  border-color: #fb6d0c;
}

.maxSize .temperature input:checked + label .secondBox,
.maxSize .energy input:checked + label .fifthBox,
.maxSize .humidity input:checked + label .secondBox {
  background-color: #fb6d0c;
}

.temperature .fourthBox,
.energy .thirdBox {
  border-color: #8ed5f5;
}

.maxSize .temperature input:checked + label .fourthBox,
.maxSize .energy input:checked + label .thirdBox {
  background-color: #8ed5f5;
}

.temperature .fifthBox {
  border-color: #4fc3f7;
}

.maxSize .temperature input:checked + label .fifthBox {
  background-color: #4fc3f7;
}

.temperature .sixthBox {
  border-color: #1c78c9;
}

.maxSize .temperature input:checked + label .sixthBox {
  background-color: #1c78c9;
}

.energy .firstBox {
  border-color: #29ed25;
}

.maxSize .energy input:checked + label .firstBox {
  background-color: #29ed25;
}

.energy .secondBox {
  border-color: #30d5c8;
}

.maxSize .energy input:checked + label .secondBox {
  background-color: #30d5c8;
}

.humidity .fourthBox {
  border-color: #eac998;
}

.maxSize .humidity input:checked + label .fourthBox {
  background-color: #eac998;
}

.humidity .fifthBox {
  border-color: #bba17a;
}

.maxSize .humidity input:checked + label .fifthBox {
  background-color: #bba17a;
}

.humidity .sixthBox {
  border-color: #974b00;
}

.maxSize .humidity input:checked + label .sixthBox {
  background-color: #974b00;
}

ion-grid {
  padding: 0;
}

ion-grid:not(:last-child) {
  margin-bottom: 30px;
}

ion-card p {
  margin-bottom: 0;
}

.genders {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.double ion-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.double ion-row:not(:last-child) {
  margin-bottom: 15px;
}

ion-footer {
  padding: 30px;
  padding-right: 0;
  text-align: right;
}

ion-footer .submit p {
  color: var(--ion-color-primary-contrast);
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .double ion-row {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }

  ion-footer .submit {
    margin-right: 8px;
  }

  .genders {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  ion-footer {
    padding-left: 0;
  }
  ion-footer .submit {
    width: 100%;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 160px;
}

@media (prefers-color-scheme: dark) {
  .maxSize input:checked + label p {
    color: #000;
  }

  .maxSize input:checked + label svg path {
    fill: #000;
  }
}
