.genders input,
.temperature input,
.humidity input,
.energy input {
  display: none;
}

.male {
  border-color: #01c5aa;
}

.maxSize input:checked + label .male {
  background-color: #01c5aa;
}

.female {
  border-color: #8701f8;
}

.maxSize input:checked + label .female {
  background-color: #8701f8;
}

.maxSize input:checked + label p:not(.non-binary p) {
  color: var(--ion-color-primary-contrast);
}

.non-binary {
  border-color: #ffdd0a;
}

.maxSize input:checked + label .non-binary {
  background-color: #ffdd0a;
}

ion-grid {
  padding: 0;
}

ion-grid:not(:last-child) {
  margin-bottom: 30px;
}

ion-card p {
  margin-bottom: 0;
}

.genders {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.double ion-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.double ion-row:not(:last-child) {
  margin-bottom: 15px;
}

ion-footer {
  padding: 30px;
  padding-right: 0;
  text-align: right;
}

ion-footer .submit p {
  color: var(--ion-color-primary-contrast);
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .double ion-row {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }

  ion-footer .submit {
    margin-right: 8px;
  }

  .genders {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  ion-footer {
    padding-left: 0;
  }
  ion-footer .submit {
    width: 100%;
  }
}
